.table-bordered {
    border: 1px solid #a1a3a5
}

.table-bordered td, .table-bordered th {
    border: 1px solid #a1a3a5
}

textarea {
    resize: none;
}

#count_message {
    background-color: rgb(79, 79, 79);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -30px;
    margin-right: 5px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
  }